button {
    padding: 1% 4%!important;
    background-color: $accentColor;
    color: $white;
    position: absolute;
    bottom: 6%;
    transition: background-color .25s, color .25s;
    border: hidden;
    border-radius: 5px;

    &:hover,
    &:focus-within {
        background-color: $secondaryColor;
        color: $accentColor;
    }
}