body {
    font-size: 62.5%;
    font-family: $bodyFont;
}

h1 {
    text-transform: uppercase;
    font-size: 4.0rem;
}

h2 {
    font-size: 2.4rem;
}

h1, 
h2,
button {
    font-family: $titleFont;
}

p,
button {
    font-size: 1.3rem;
}

p {
    letter-spacing: 0.05rem;
}

button {
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
}

input {
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
}