@mixin wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

@mixin tablet {
    @media (max-width:794px) { @content };
}

@mixin smTablet {
    @media (max-width:675px) { @content };
}

@mixin phone {
    @media (max-width:425px) { @content };
}