.questionPage {
    width: 100%;
    ul {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    li {
        width: 100%;
        text-align: center;
    }
}

