.questionPage {
    width: 100%;
    display: none;
    main {
        height: 100%;
        width: 100%;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: stretch;
        height: 100%;
        width: 100%;
        @include phone {
            margin-top: 20%;
        }
    }
    input[type="radio"] {
        width: 100%;
        text-align: center;
        opacity: 0;
        height: 100%;
        padding: 100%;
        
    }

    input:selected {
        background-color: $accentColor;
    }

    p,
    label {
        text-align: center;
    }

    label {
        display: block;
    }
    .h2Container {
        display: flex;
        align-items: center;
        padding: 0 5%;
    }

    .h2Container,
    .answerContainer {
        height: 80%;
        @include smTablet {
            height: 60%;
        }
        @include phone {
            height: 30%;
        }
    }
}




.answerContainer {
    width: 100%;
    transition: background-color .25s;
    position: relative;
    border: hidden;
    border-radius: 10px;
    &:hover,
    &:focus-within {
        background-color: $accentColor;
    }
    .imgContainer {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            object-fit: contain;
        }
    }
}