
.resultsPage {
    display: none;
    height: fit-content;
    h2,
    p {
        text-align: center;
    }
    
    h2 {
        padding: 2% 0 1%;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .imgContainer {
        height: 50%;
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
            object-fit: contain;
        }
    }

}
