body {
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 620px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    position: relative;
}

.wrapper {
    @include wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.startPage {
    margin: 6% 10%;
    padding: 3% 0;
    background-color: $offWhite;
    border: solid 10px $accentColor;
    main {
        display: flex;
        flex-direction: column;
        height: 70%;
    }

    ul.galleryContainer {
        max-height: 60%;
        display: flex;
        background-color: $darkGrey;
        margin: 2% 0;
        align-items: flex-end;
        padding-bottom: 2%;

    }

    li {
        display: flex;
        height: 100%;
    }
    li.chihuahua {
        height: 50%;
    }

    img {
        object-fit: contain;
    }
} 
